<div class="side-bar-items">
  <ul>
    <li><i class="fa fa-tachometer"></i>Dashboard</li>
    <li><i class="fa fa-cutlery"></i>Products</li>
    <li><i class="fa fa-file-text"></i>Order</li>
    <li><i class="fa fa-gift"></i>Coupon</li>
    <li><i class="fa fa-line-chart"></i>Report</li>
  </ul>
</div>
